
html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  /* margin: 50px; */
  /* gap: 50px; */
  scroll-behavior:auto;
}


#first_page, #second_page {
  gap: 20px;
  padding: 50px;
}

#data_output {
  background-color: rgb(251, 170, 20);
  width: 200px;
  height: 100px;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
}






#users {
  background-color: greenyellow;
  width: 200px;
  height: 100px;
  font-size: 1.2em;
  padding: 10px;
}

#button {
  background: lightcyan;
  width: 120px;
  padding: 5px;
  border-radius: 5px;
  color: brown;
  font-size: 1.3em;
  border: 2px solid aqua;
}

.red {
  background-color: pink !important;
}


#forest {
  border:  2px solid red;
  width: 500px;
}